/* Responsive */
/* Destop/PC */
@media (min-width: 64em) {
    
}

/* Tablet & Mobile */
@media (max-width: 63.938em) {
    .btn {
        padding: 16px 39px;
    }

    #contact .form-control{
        padding: 15px;
        font-size: 16px;
    }

    #contact .contact-info {
        line-height: 2;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .socials-list {
        font-size: 36px;
    }

    #footer .socials-list a {
        margin: 0 8px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 46.250em) and (max-width: 63.938em) {
    
}


/* Mobile */
@media (max-width: 46.188em) {
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    .s-mt-16 {
        margin-top: 16px !important;
    }

    .s-mt-32 {
        margin-top: 32px !important;
    }

    #header {
        overflow: hidden;
    }
    
    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 41px;
    }
    
    #content .member-img {
        width: 60%;
    }

}